.myRSVPs-container {
    background-color: #0d5d56;
    border: 2px solid #0d5d56;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0px;
    top: 80px;
    color: white;
    padding: 10px;
}
