#splash-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0d5d56;
    letter-spacing: 2px;
    /* background: linear-gradient(0.25turn, #ffd25a, #168d5f, #0d5d56, #168d5f, #ffd25a); */
    /* border: 2px solid #0d5d56; */
    background-color: #ffd25a;

    /* background-color: #72e3e8; */
    /* background-color: #a0dde6; */
    border-radius: 10px;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    text-align: center;
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash {
    color: white;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
