.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 360px; */
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    /* background-color: #63787A; */
    color: white;
    font-family: cursive;
    border-radius: 5px;
    font-size: 18px;
}

h2 {
    font-family: cursive;
    color: white;
    
}

label {
    width: 350px;
    margin: 5px;
    text-align: center;
    color: white;
}

input {
    margin: 10px;
    padding: 2px;
    width: 85%;
    /* background-color: #47bd86;
    border: 2px solid #5CE1A3; */
    background-color: #749ea1;
    border: 2px solid #a4bcbe;
    background-color: #6bdd97;
    border: 2px solid #f5fdc6;
    border-radius: 5px;
}

#login-button {
    margin-top: 20px;
    margin-bottom: 10px;
}

#demo-button {
    margin-bottom: 20px;
}

